//custom styles for images and captions

.figure-center {
  margin: 1.6em 0 0.4em;
  text-align: center;
}

.figure-caption-center {
  margin-top: -0.1em;
  text-align: center;
  @include fs-2;
}

// custom styles for links

a:link {
  color: $link-color;
//  color: #12976b;
}

a:visited {
  color: darken($link-color,3%);
//  color: #15a872;
}

@import "../color_schemes/monochrome.scss";

// custom margins for lists

li:first-child {
    margin-top: -0.5em;
}

// custom margins for headings

h2 {
  padding-bottom: 0.6em;
}

// custom styles for notes

.note-wrapper {
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0.9em 0.9em 0.9em 3.1em;
  border-radius: 4px;
  background-color: rgba(18,151,107,.1);
  font-size: 90%;
  position: relative;
  overflow: hidden;
}

.note-wrapper::before {
  display: inline-block;
  content: url("outline_info_black_48dp.png");
  opacity: 0.8;
  float: left;
  transform: scale(.16);
  width: 0.7em;
  height: 0.7em;
  position: absolute;
  left: 0.9em;
  top: 0.9em;
}

.warning-wrapper {
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0.9em 0.9em 0.9em 3.1em;
  border-radius: 4px;
  background-color: rgba(18,151,107,.1);
  font-size: 90%;
  position: relative;
  overflow: hidden;
}

.warning-wrapper::before {
  display: inline-block;
  content: url("round_warning_amber_black_48dp.png");
  opacity: 0.8;
  float: left;
  transform: scale(.16);
  width: 0.7em;
  height: 0.7em;
  position: absolute;
  left: 0.9em;
  top: 0.9em;
}

.tip-wrapper {
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0.9em 0.9em 0.9em 3.1em;
  border-radius: 4px;
  background-color: rgba(18,151,107,.1);
  font-size: 90%;
  position: relative;
  overflow: hidden;
}

.tip-wrapper::before {
  display: inline-block;
  content: url("outline_tips_and_updates_black_48dp.png");
  opacity: 0.8;
  float: left;
  transform: scale(.16);
  width: 0.7em;
  height: 0.7em;
  position: absolute;
  left: 0.9em;
  top: 0.9em;
}

// custom styles for navigation tiles

* {
	box-sizing: border-box;
}

.nav-tiles {
	width: 100%;
	height: 100%;
	margin: 5px auto;
}

.nav-icon {
	font-family: FontAwesome;
	display: block;
	text-align: center;
	position: absolute;
	width: 100%;
	top: 0.6em;
	line-height: 1em;
	font-size: 4em;
	transition: color;
	background-color: #F5F6FA;
}

.nav-tile-row {
	display: block;
	margin: 1em auto;
}
.nav-tile-container {
	margin: 0 auto;
    width: 99%;
}
.nav-tile-container:after {
	content: " ";
	display: block;
	clear: both;
}

.nav-tile {
	display: block;
	will-change: transform;
	margin-right: 1em;
	background-color:#F5F6FA;
	border-radius: 6%;
	float: left;
	width: 30%;
	height: 11em;
	position: relative;
    white-space: pre-line;

	&:hover .nav-icon {
		color: #5C5962;
		+ p {
			color: #5C5962;
		}
	}
	p {
		display: block;
		position: absolute;
		height: 2.6em;
		right: 0;
		bottom: 0;
		left: 0;
		font-weight: bold;
		font-size: large;
		text-align: center;
		line-height: 1.2em;
		transition: all
	}
}








.nav-tiles2 {
	width: 100%;
	height: 100%;
	margin: 5px auto;
}

.nav-icon2 {
	font-family: FontAwesome;
	display: block;
	text-align: center;
	position: absolute;
	width: 100%;
	top: 0.6em;
	line-height: 1em;
	font-size: 4em;
	transition: color;
	background-color: #F5F6FA;
}

.nav-tile-container2 {
	margin: 0 auto;
    width: 99%;
}
.nav-tile-container2:after {
	content: " ";
	display: block;
	clear: both;
}

.nav-tile2 {
	display: block;
	will-change: transform;
	margin-right: 1em;
	margin-bottom: 1em;
	background-color:#F5F6FA;
	border-radius: 6%;
	float: left;
	width: 30%;
	height: 11em;
	position: relative;
    white-space: pre-line;

	&:hover .nav-icon2 {
		color: #5C5962;
		+ p {
			color: #5C5962;
		}
	}
	p {
		display: block;
		position: absolute;
		height: 2.6em;
		right: 0;
		bottom: 0;
		left: 0;
		font-weight: bold;
		font-size: large;
		text-align: center;
		line-height: 1.2em;
		transition: all
	}
}

  @media only screen and (max-width : 650px) {
      /* Smartphone and tablet view: 2 tiles */
      .nav-tile2 {
        width: 46%;
      }
    }